.articleCards--container {
  /* border: solid black 3px; */
  margin: 5% 15% 5% 15%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

@media screen and (max-width: 650px) {

  .articleCards--container {
    margin: 5% 7% 5% 7%;
  }

}